<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.user.dao.UserExtDao">
	<insert id="add" parameterType="userExt" useGeneratedKeys="true" keyProperty="id">
		insert into t_user_ext
			(
				create_date,
				modify_date,
				user_id,
				last_fetch_sys_msg_date
			)
		values
			(
				#{createDate},
				#{modifyDate},
				#{userId},
				#{lastFetchSysMsgDate}
			)	
	</insert>
	
	<update id="update" parameterType="userExt">
		update t_user_ext
		<set>
			<if test="modifyDate != null and '' != modifyDate"> modify_date = #{modifyDate},</if>
			<if test="lastFetchSysMsgDate != null and '' != lastFetchSysMsgDate"> last_fetch_sys_msg_date = #{lastFetchSysMsgDate},</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="long">
		delete from
			t_user_ext
		where
			id = #{id}
	</delete>
	
	<select id="getById" resultType="userExt">
		select
			*
		from
			t_user_ext
		where
			id = #{id}
	</select>
	
	<select id="getByUserId" resultType="userExt">
		select
			*
		from
			t_user_ext
		where
			user_id = #{userId}
	</select>
</mapper>